@{
    ViewData["Title"] = "Home Page";


}

<h2>This is the all albums</h2>

<form class="d-flex">

    <div>
        <label for="CompanyName">Name</label>
        <input class="form-control me-sm-2" type="string" name="name" value="" />
    </div>
    <div>
        <label for="CompanyName">ArtistName</label>
        <input class="form-control me-sm-2" type="string" name="artist" value="" />
    </div>
    <div>
        <label for="CompanyName">Price</label>
        <input class="form-control me-sm-2" type="int" name="price" value="" />
    </div>
        <div>
        <label for="CompanyName">Genre</label>
        <input class="form-control me-sm-2" type="string" name="genre" value="" />
    </div>
    <button class="btn btn-secondary my-2 my-sm-0" type ="submit">Add</button>
</form>

</table>