@{
    ViewData["Title"] = "Home Page";


}

<h2>add albums</h2>

<form class="d-flex">

    <div>

        <label for="CompanyName">Add new album</label>
        <input class="form-control me-sm-2" type="text" name="deleteID" value="" />
    </div>
    <button class="btn btn-secondary my-2 my-sm-0" onclick = "document.location.href = "https://localhost:5001/Albums/delete""  type ="submit">Add</button>
</form>

</table>