<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Operation</title>
  <link rel="icon" type="image/x-icon" href="../Utill/dist/img/Group2_LOGO.ico">

  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="../Utill/plugins/fontawesome-free/css/all.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <!-- Tempusdominus Bootstrap 4 -->
  <link rel="stylesheet" href="../Utill/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
  <!-- iCheck -->
  <link rel="stylesheet" href="../Utill/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
  <!-- JQVMap -->
  <link rel="stylesheet" href="../Utill/plugins/jqvmap/jqvmap.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="../Utill/dist/css/adminlte.min.css">
  <!-- overlayScrollbars -->
  <link rel="stylesheet" href="../Utill/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
  <!-- Daterange picker -->
  <link rel="stylesheet" href="../Utill/plugins/daterangepicker/daterangepicker.css">
  <!-- summernote -->
  <link rel="stylesheet" href="../Utill/plugins/summernote/summernote-bs4.min.css">
  <!-- Google chart-->
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

  <!-- Pie Chart -->
  <script type="text/javascript">
    google.charts.load('current', { 'packages': ['corechart'] });      //Load Charts         
    google.charts.load("current", { 'packages': ['corechart'] });      //Load Column Charts and Bar Charts
    google.charts.setOnLoadCallback(drawFilledChart);               //Draw Amount of Filled Chart when charts is loaded.
    google.charts.setOnLoadCallback(drawSalesChart);               //Draw Sales Chart when charts is loaded.
    google.charts.setOnLoadCallback(drawTruckInOutChart);               //Draw Truck-in and Truck-out column chart when charts is loaded.
    google.charts.setOnLoadCallback(drawWaitingTime);               //Draw Waiting Time column chart when charts is loaded.
    google.charts.setOnLoadCallback(drawFailedTime);               //Draw Number of Failed time column chart when charts is loaded.

    function drawFilledChart() {

      var data = new google.visualization.DataTable();
      data.addColumn('string', 'Topping');
      data.addColumn('number', 'Slices');
      data.addRows([
        ['Diesel', 55],
        ['Gasohol 95', 45],
      ]);

      var options = {
        title: 'Amount Filled (L)', width: 400, height: 400,
        titlePosition: 'none',
        titleTextStyle: {
          color: 'FFFDD0',
          fontName: 'Arial',
          fontSize: 22,
          bold: true,

        },
        pieSliceText: 'value-and-percentage',          //show both of value and percentage in pie chart

        'is3D': true,
        slices: {
          1: { offset: 0.1 },                    // separate pie chart
          2: { offset: 0.05 },

        },
        backgroundColor: 'white',
        fontName: 'Arial',
        colors: ['65CCCC', 'FF9900'],                        //Color in pie chart
        fontSize: 16,
        legend: { position: 'top', textStyle: { color: 'black' }, frontSize: 12, alignment: 'center' },

        chartArea: { bottom: 12, width: '100%', 'height': '75%' },           //Pie chart position and size
        reverseCategories: true                             //Change color of object in piechart

      };

      var chart = new google.visualization.PieChart(document.getElementById('Filled_pie'));
      chart.draw(data, options);
    }

    <h1>@Model.DAVVolume;</h1>


    function drawSalesChart() {
      var data = new google.visualization.DataTable();
      data.addColumn('string', 'Topping');
      data.addColumn('number', 'Slices');
      data.addRows([
        ['Diesel', 34],
        ['Gasohol 95', 43],
      ]);

      var options = {
        title: 'Sales (฿)', width: 400, height: 400,
        titlePosition: 'none',
        titleTextStyle: {
          color: 'FFFDD0',
          fontName: 'Arial',
          fontSize: 22,
          bold: true,

        },
        pieSliceText: 'value-and-percentage',          //show both of value and percentage in pie chart    
        'is3D': true,
        pieStartAngle: -50,                              //Change degree of pie chart
        slices: {
          1: { offset: 0.1 },                    // separate pie chart
          2: { offset: 0.05 },

        },
        backgroundColor: 'white',
        fontName: 'Arial',
        colors: ['FF9900', '65CCCC'],                        //Color in pie chart
        fontSize: 16,
        legend: { position: 'top', textStyle: { color: 'black' }, frontSize: 12, alignment: 'center' },

        chartArea: { bottom: 12, width: '100%', 'height': '75%' },           //Pie chart position and size
        reverseCategories: false                             //Change color of object in piechart

      };

      var chart = new google.visualization.PieChart(document.getElementById('Sales_pie'));
      chart.draw(data, options);
    }

    function drawTruckInOutChart() {
      var data = google.visualization.arrayToDataTable([
        [" Name", "number", { role: "style" }],
        ["Truck in", 90, "#98B6D7"],
        ["Truck out", 80, "#F7D7C2"],
      ]);

      var view = new google.visualization.DataView(data);
      view.setColumns([0, 1,
        {
          calc: "stringify",
          sourceColumn: 1,
          type: "string",
          role: "annotation"
        },
        2]);

      var options = {
        width: 366,
        height: 400,
        bar: { groupWidth: "65%" },
        legend: { position: "none" },
        backgroundColor: '#F0F8FF',
        fontSize: 14,

      };
      var chart = new google.visualization.ColumnChart(document.getElementById("TruckInOut"));
      chart.draw(view, options);
    }

    function drawWaitingTime() {
      var data = google.visualization.arrayToDataTable([
        [" Name", "number", { role: "style" }],
        ["Sale Office", 9, "#AFD7F6"],
        ["Inbound WB", 8, "#96CFCF"],
        ["DIESEL Bay", 2, "#FF8F7F"],
        ["GASOHOL95 Bay", 5, "#FEB9D0"],
        ["Outbound WB", 10, "#C1B2C6"],
      ]);

      var view = new google.visualization.DataView(data);
      view.setColumns([0, 1,
        {
          calc: "stringify",
          sourceColumn: 1,
          type: "string",
          role: "annotation"
        },
        2]);

      var options = {
        title: "Average Waiting Time at Each Station",
        titleTextStyle: {
          color: 'Black',
          fontName: 'Arial',
          fontSize: 18,
          bold: false,

        },
        width: 800,
        height: 350,
        bar: { groupWidth: "80%" },
        legend: { position: "none" },
        backgroundColor: 'white',
        fontSize: 14,

      };
      var chart = new google.visualization.ColumnChart(document.getElementById("WaitingTime"));
      chart.draw(view, options);
    }

    function drawFailedTime() {
      var data = google.visualization.arrayToDataTable([
        [" Name", "number", { role: "style" }],
        ["GASOHOL95 BAY", 12, "FF9900"],
        ["DIESEL BAY", 8, "65CCCC"],
      ]);

      var view = new google.visualization.DataView(data);
      view.setColumns([0, 1,
        {
          calc: "stringify",
          sourceColumn: 1,
          type: "string",
          role: "annotation"
        },
        2]);

      var options = {
        title: "Number of Failled Time at Each Station",
        titleTextStyle: {
          color: 'Black',
          fontName: 'Arial',
          fontSize: 18,
          bold: false,

        },
        width: 790,
        height: 350,
        bar: { groupWidth: "60%" },
        legend: { position: "none" },
        backgroundColor: 'white',
        fontSize: 14,

      };
      var chart = new google.visualization.ColumnChart(document.getElementById("FailedTime"));
      chart.draw(view, options);
    }

  </script>

</head>

<body class="hold-transition sidebar-mini layout-fixed">
  <div class="wrapper">

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0">OPERATION DASHBOARD</h1>
            </div><!-- /.col -->

            <!-- Calendar Dropdown Menu -->
            <ul class="navbar-nav ml-auto"></ul>
            <a class="nav-link" data-toggle="dropdown" href="#">
              <h1 class="ion-calendar"></h1>
            </a>
            <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
              <div class="dropdown-divider"></div>
              <a href="#" class="dropdown-item dropdown-footer">Mar. 1</a>
              <div class="dropdown-divider"></div>
              <a href="#" class="dropdown-item dropdown-footer">Mar. 2</a>
              <div class="dropdown-divider"></div>
              <a href="#" class="dropdown-item dropdown-footer">Mar. 3</a>
              <div class="dropdown-divider"></div>
              <a href="#" class="dropdown-item dropdown-footer">Mar. 4</a>
              <div class="dropdown-divider"></div>
              <a href="#" class="dropdown-item dropdown-footer">Mar. 5</a>
              <div class="dropdown-divider"></div>
              <a href="#" class="dropdown-item dropdown-footer">Mar. 6</a>
              <div class="dropdown-divider"></div>
              <a href="#" class="dropdown-item dropdown-footer">Mar. 7</a>
              <div class="dropdown-divider"></div>
              <a href="#" class="dropdown-item dropdown-footer">Mar. 8</a>
              <div class="dropdown-divider"></div>
              <a href="#" class="dropdown-item dropdown-footer">Mar. 9</a>
              <div class="dropdown-divider"></div>
              <a href="#" class="dropdown-item dropdown-footer">Mar. 10</a>
              <div class="dropdown-divider"></div>
              <a href="#" class="dropdown-item dropdown-footer">Mar. 11</a>
              <div class="dropdown-divider"></div>
              <a href="#" class="dropdown-item dropdown-footer">Mar. 12</a>
              <div class="dropdown-divider"></div>
              <a href="#" class="dropdown-item dropdown-footer">Mar. 13</a>
              <div class="dropdown-divider"></div>
              <a href="#" class="dropdown-item dropdown-footer">Mar. 14</a>
              <div class="dropdown-divider"></div>
              <a href="#" class="dropdown-item dropdown-footer">Mar. 15</a>
              <div class="dropdown-divider"></div>
              <a href="#" class="dropdown-item dropdown-footer">Mar. 16</a>
              <div class="dropdown-divider"></div>
              <a href="#" class="dropdown-item dropdown-footer">Mar. 17</a>
              <div class="dropdown-divider"></div>
              <a href="#" class="dropdown-item dropdown-footer">Mar. 18</a>
              <div class="dropdown-divider"></div>
              <a href="#" class="dropdown-item dropdown-footer">Mar. 19</a>
              <div class="dropdown-divider"></div>
              <a href="#" class="dropdown-item dropdown-footer">Mar. 20</a>
              <div class="dropdown-divider"></div>
              <a href="#" class="dropdown-item dropdown-footer">Mar. 21</a>
              <div class="dropdown-divider"></div>
              <a href="#" class="dropdown-item dropdown-footer">Mar. 22</a>
              <div class="dropdown-divider"></div>
              <a href="#" class="dropdown-item dropdown-footer">Mar. 23</a>
              <div class="dropdown-divider"></div>
              <a href="#" class="dropdown-item dropdown-footer">Mar. 24</a>
              <div class="dropdown-divider"></div>
              <a href="#" class="dropdown-item dropdown-footer">Mar. 25</a>
              <div class="dropdown-divider"></div>
              <a href="#" class="dropdown-item dropdown-footer">Mar. 26</a>
              <div class="dropdown-divider"></div>
              <a href="#" class="dropdown-item dropdown-footer">Mar. 27</a>
              <div class="dropdown-divider"></div>
              <a href="#" class="dropdown-item dropdown-footer">Mar. 28</a>
              <div class="dropdown-divider"></div>
              <a href="#" class="dropdown-item dropdown-footer">Mar. 29</a>
              <div class="dropdown-divider"></div>
              <a href="#" class="dropdown-item dropdown-footer">Mar. 30</a>
              <div class="dropdown-divider"></div>
              <a href="#" class="dropdown-item dropdown-footer">Mar. 31</a>
            </div>

          </div><!-- /.row -->
        </div><!-- /.container-fluid -->
      </div>


      <!-- Main content -->
      <section class="content">
        <class="container-fluid">
          <!-- Small boxes (Stat box) -->
          <div class="row">
            <!-- Amount of Filled pie chart -->
            <table class="columns">
              <tr>
                <td>
                  <div class="col-sm">
                    <div class="card card-primary">
                      <div class="card-header">
                        <h1 class="card-title">Amount Filled (L) </h1>
                      </div>
                      <div id="Filled_pie" style="border: 1px solid #ccc"></div>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="col-sm">
                    <div class="card card-dark">
                      <div class="card-header">
                        <h1 class="card-title">Total Sales (Baht)</h1>
                      </div>
                      <div id="Sales_pie" style="border: 1px solid #ccc"></div>
                    </div>
                  </div>
                </td>
              </tr>
            </table>

            <div class="col-sm">

              <!-- small box of Average GASOHOL 95 Cycle Time -->
              <div class="small-box bg-white" style="height:210px">
                <div class="card-header bg-success">
                  <h1 class="card-title">Average GASOHOL 95 Cycle Time</h1>
                </div>
                <div class="inner">
                  <div class="icon">
                    <center>
                      <h3 class="ion-clock" style="font-size:75px; color:black"></h3>
                    </center>
                  </div>
                  <center>
                    <h3>46.38 min</h3>
                  </center>
                </div>
              </div>

              <!-- small box of Average DIESEL Cycle Time -->
              <div class="small-box bg-white" style="height:210px">
                <div class="card-header bg-success">
                  <h1 class="card-title">Average DIESEL Cycle Time</h1>
                </div>
                <div class="inner">
                  <div class="icon">
                    <center>
                      <h3 class="ion-clock" style="font-size:75px; color:black"></h3>
                    </center>
                  </div>
                  <center>
                    <h3>45.68 min</h3>
                  </center>
                </div>
              </div>

            </div>

            <div class="col-sm">
              <div class="card card-info">
                <div class="card-header">
                  <h1 class="card-title">Truck in & Truck out</h1>
                </div>
                <div id="TruckInOut" style="width: 50px; height: 390px;"></div>
              </div>
            </div>
            <!-- End First Row -->
          </div>


          <div class="row">
            <div class="col-sm">
              <div class="card">
                <div id="WaitingTime" style="width: 50px; height: 175px;"></div>
                <!--Distance between graph-->
              </div>
            </div>
            <div class="col-sm">
              <div class="card">
                <div id="FailedTime" style="width: 50px; height: 160px;"></div>
              </div>
            </div>
          </div>

    </div>


  </div>
  </class>
  </section>
  </div>
  </div>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
  </div>
  <!-- ./wrapper -->

  <!-- jQuery -->
  <script src="../Utill/plugins/jquery/jquery.min.js"></script>
  <!-- jQuery UI 1.11.4 -->
  <script src="../Utill/plugins/jquery-ui/jquery-ui.min.js"></script>
  <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
  <script>
    $.widget.bridge('uibutton', $.ui.button)
  </script>
  <!-- Bootstrap 4 -->
  <script src="../Utill/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- ChartJS -->
  <script src="../Utill/plugins/chart.js/Chart.min.js"></script>
  <!-- Sparkline -->
  <script src="../Utill/plugins/sparklines/sparkline.js"></script>
  <!-- JQVMap -->
  <script src="../Utill/plugins/jqvmap/jquery.vmap.min.js"></script>
  <script src="../Utill/plugins/jqvmap/maps/jquery.vmap.usa.js"></script>
  <!-- jQuery Knob Chart -->
  <script src="../Utill/plugins/jquery-knob/jquery.knob.min.js"></script>
  <!-- daterangepicker -->
  <script src="../Utill/plugins/moment/moment.min.js"></script>
  <script src="../Utill/plugins/daterangepicker/daterangepicker.js"></script>
  <!-- Tempusdominus Bootstrap 4 -->
  <script src="../Utill/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
  <!-- Summernote -->
  <script src="../Utill/plugins/summernote/summernote-bs4.min.js"></script>
  <!-- overlayScrollbars -->
  <script src="../Utill/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
  <!-- AdminLTE App -->
  <script src="../Utill/dist/js/adminlte.js"></script>
  <!-- AdminLTE for demo purposes -->
  <script src="../Utill/dist/js/demo.js"></script>
  <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
  <script src="../Utill/dist/js/pages/dashboard.js"></script>

</body>

</html>