<h2>This is the all albums</h2>
<h2>Albums</h2>
<table class="table">
    <tr>
        <th>ID</th>
        <th>Name</th>

    </tr>
    <script>


        function showData(data) {
            let myList = document.querySelector('#myList')
            data.foreach(val => {
                let myEl = document.createElement('li');
                myEl.innerText = `Values : ${val.values}${val.timeStamp}`;
                myList.appendChild(myEl);
            })
        }
        foreach('https://localhost:5001/api/pi?itemname=A002-0000-S2-DATA10')
            .then(response => response.json())
            .then(data => console.log(data));
    </script>

    @foreach (var item in Model)
    {
        <td>@item.Values</td>
        <td>@item.TimeStamp</td>
    }
    <ul id="myList">

    </ul>
